{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "asistente/menu.html" %}
{%endblock %}
{% block contenido %}
<br>
    <h3 class="text-center fw-bold">REGISTRAR MATERIAL DE CONSUMO</h3>
    <div class="principal" style="width: 100%;">                   
        <form id="frmRegistrarMaterial" action="/registrarMaterial/" method="post" enctype="multipart/form" class="was-validated">
            {%csrf_token%}
            <div class="form-group row mt-2">
                <div class="col-lg-4">                                    
                    <label for="txtNombre" class="fw-bold">Nombre:</label>
                    <input type="text" name="txtNombre" id="txtNombre" class="form-control" required>      
                </div>
                <div class="mb-3 col-lg-4">                    
                    <label for="txtMarca" class="fw-bold">Marca:</label>
                    <input type="text" name="txtMarca" id="txtMarca" class="form-control">            
                </div>
                <div class="mb-3 col-lg-4"> 
                    <label for="cbEstado" class="fw-bold">Estado:</label>                   
                    <select name="cbEstado" id="cbEstado" class="form-select" required>
                        < {% for estado in estados %} 
                            <option value="{{estado.0}}">{{estado.1}}</option>
                        {% endfor %}
                    </select>
                </div>         
            </div>
            <div class="form-group row mt-2 ">
                <div class="mb-3 col-lg-12">                                    
                    <label for="txtDescripcion" class="fw-bold">Descripción:</label>
                    <textarea name="txtDescripcion" id="txtDescripcion" class="form-control" cols="30" rows="5"></textarea>        
                </div>
            </div>         
            <h3 class="mt-2 text-center fw-bold">UBICACIÓN</h3>
            <div class="form-group row">                                
                <div class="col-lg-3">
                    <label for="cbDeposito" class="fw-bold">Deposito:</label>
                    <select name="cbDeposito" id="cbDeposito" class="form-select" required>
                        <option value="1">Deposito 1</option>
                        <option value="2">Deposito 2</option>
                        <option value="3">Deposito 3</option>
                        <option value="4">Deposito 4</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <label for="txtEstante" class="fw-bold">Estante:</label>
                    <input type="number" name="txtEstante" id="txtEstante" value="0" class="form-control" required>                         
                </div>
                <div class="col-lg-3">
                    <label for="txtEntrePano" class="fw-bold">Entrepaño:</label>
                    <input type="number" name="txtEntrePano" id="txtEntrePano" value="0" class="form-control" required>                   
                </div>
                <div class="col-lg-3">
                    <label for="txtLocker" class="fw-bold">Locker:</label>
                    <input type="number" name="txtLocker" id="txtLocker" value="0" class="form-control" required>                   
                </div>
            </div> 
            
            <br>    
            <div class="form-group">                        
                <button class="btn btn-secondary">Registrar</button>      
            </div>
                                
        </form>
    </div>
    {% if mensaje %}  
        {% if estado %}  
            <script>
                Swal.fire({
                    title: 'Registro Material',
                    text: '{{mensaje}}',
                    icon: 'success',               
                    confirmButtonColor: '#3085d6',             
                    confirmButtonText: 'Aceptar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        //let formulario = document.getElementById('frmRegistrarDevolutivo');
                        //formulario.reset();
                        location.href="/vistaRegistrarMateriales/"
                    }
                });
            </script>
        {% else %}
            <script>
                Swal.fire({
                    title: 'Registro Material',
                    text: '{{mensaje}}',
                    icon: 'warning',               
                    confirmButtonColor: '#3085d6',             
                    confirmButtonText: 'Aceptar'
                }).then((result) => {
                    if (result.isConfirmed) {
                    
                    }
                })
            </script>
        {% endif %}
    {% endif %}
<br>
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}